/* I removed most of the original css and replaced it with semantic HTML elements and flexbox  */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper>* {
    flex: 1 100%;
}

header {
    background: #2663a2;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    height: 10vh;
}

header h1 {
    padding: 20px 0 0 20px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    text-align: left;
    background: deepskyblue;
    justify-content: space-evenly;
}

article img {
    max-height: 200px;
}

section {
    border: 10px solid white;
    height: 33vh;
    padding: 20px;
    display: flex;
    align-content: center;
}

aside {
    background: cornflowerblue;
    border: 10px solid white;
}

aside h3 {
    text-align: center;
    color: white;
    padding-top: 50px;
}

aside p {
    padding: 20px;
}

aside img {
    display: block;
    margin: 0px auto;
    max-width: 150px;
}

/* I moved the navigation out of the header to give my mobile presentation a better view (block) 
I used a class here instead of nav because it's what i'm used to, but could have used <nav> instead. */

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: #376da5;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

/* I added opacity to hover links to indicate that something happens if you click. */

.navigation a:hover {
    opacity: .6;
    ;
}

/* the hero image was really really big, so i made changed the height so it doesn't take over the entire page  */

.hero {
    width: 100%;
    height: 60vh;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    flex-shrink: 3;
}

footer {
    background: #2663a2;
    color: white;
    text-align: center;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    /* I hid the hero image on smaller devices because it was more of a distraction  */
    .hero {
        display: none;
    }
    header h1 {
        text-align: center;
    }
    article {
        flex: 1;
        height: auto;
    }
    /* I added a div around the article and aside which made it easier for me to apply different flex elements based on view.  */
    .box {
        flex-wrap: wrap;
    }
    header {
        padding-bottom: 15px;
    }
}

@media all and (max-width: 600px) {
    /* I changed the navigation from inline to block for smaller devices and centered the content */
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

/* I tried focusing on mobile first, but still struggle with it. I added the flex order to make sure that the aside came before article, but it may not really be needed in this case. */

@media all and (min-width: 320px) {
    article {
        order: 1;
    }
    aside {
        order: 2;
    }
    footer {
        order: 3;
    }
}